<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Water Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="sidebar">
    <h2>💧 AquaGuard</h2>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('history') }}">History</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</div>

<div class="main">

    <h1>Water Quality Statistics</h1>

    <!-- CARDS -->
    <section class="dashboard">

        <div class="card">
            <h2>pH Level</h2>
            <p>{{ current.ph }}</p>
        </div>

        <div class="card">
            <h2>Turbidity</h2>
            <p>{{ current.turbidity }} NTU</p>
        </div>

        <div class="card">
            <h2>Temperature</h2>
            <p>{{ current.temperature }} °C</p>
        </div>

        <div class="card risk">
            <h2>Risk Level</h2>
            <p class="{{ 'safe' if current.risk=='SAFE' else 'danger' }}">
                {{ current.risk }}
            </p>
        </div>

    </section>

    <!-- ALERTS -->
    <section class="alerts">
        <h2>System Alerts</h2>
        <ul>
            {% for alert in alerts %}
                <li>{{ alert.time }} - {{ alert.message }}</li>
            {% endfor %}
        </ul>
    </section>

    <!-- CHART -->
    <section class="chart">
        <h2>pH Trend (History)</h2>
        <canvas id="myChart"></canvas>
    </section>

</div>

<script>
    const historyData = {{ history | tojson }};

    const labels = historyData.map(item => item.time);
    const phValues = historyData.map(item => item.ph);

    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'pH Level',
                data: phValues,
                borderColor: '#0288d1',
                backgroundColor: 'rgba(2,136,209,0.1)',
                borderWidth: 2,
                tension: 0.4
            }]
        }
    });
</script>

</body>
</html>