<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warning History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<div class="sidebar">

      <div class="sidebar-logo">
        <span class="icon-stack">
            <i class="fas fa-shield"></i>
            <i class="fas fa-tint"></i>
        </span>
        <h2>AquaGuard</h2>
    </div>


    <a href="{{ url_for('dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
    <a href="{{ url_for('history') }}"><i class="fas fa-history"></i> History</a>

    {% if current_user.is_admin() %}
    <a href="{{ url_for('manage_users') }}"><i class="fas fa-users"></i> Users</a>
    {% endif %}

    <div class="logout">
        <a href="#" onclick="confirmLogout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</div>

<div class="main">
    <h1>Warning History</h1>

    <table>
        <tr>
            <th>Time</th>
            <th>pH</th>
            <th>Temperature</th>
            <th>Turbidity</th>
            <th>Risk</th>
        </tr>
        {% for record in data %}
        <tr>
            <td>{{ record.time }}</td>
            <td>{{ record.ph }}</td>
            <td>{{ record.temperature }}</td>
            <td>{{ record.turbidity }}</td>
            <td class="{{ 'safe' if record.risk=='SAFE' else 'danger' }}">{{ record.risk }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>
function confirmLogout() {
    if (confirm("Are you sure you want to logout?")) {
        window.location.href = "{{ url_for('logout') }}";
    }
}
</script>

</body>
</html>