<!DOCTYPE html>
<html>
<head>
    <title>User Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

<div class="sidebar">
      <div class="sidebar-logo">
        <span class="icon-stack">
            <i class="fas fa-shield"></i>
            <i class="fas fa-tint"></i>
        </span>
        <h2>AquaGuard</h2>
    </div>


    <a href="{{ url_for('dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
    <a href="{{ url_for('history') }}"><i class="fas fa-history"></i> History</a>

    {% if current_user.is_admin() %}
    <a href="{{ url_for('manage_users') }}"><i class="fas fa-users"></i> Users</a>
    {% endif %}

    <div class="logout">
        <a href="#" onclick="confirmLogout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</div>

<div class="main">
    <h1>User Management</h1>

    <table>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Action</th>
        </tr>

        {% for user, info in users.items() %}
        <tr>
            <td>{{ user }}</td>
            <td>{{ info.role }}</td>
            <td>
                <a class="delete-btn" href="{{ url_for('delete_user', username=user) }}" onclick="return confirmDelete()">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>
function confirmLogout() {
    if (confirm("Are you sure you want to logout?")) {
        window.location.href = "{{ url_for('logout') }}";
    }
}

function confirmDelete() {
    return confirm("Are you sure you want to delete this?");
}
</script>

</body>
</html>